[submodule "Catch2"]
	path = Catch2
	url = https://github.com/catchorg/Catch2.git
[submodule "Crow"]
	path = Crow
	url = https://github.com/CrowCpp/Crow.git
[submodule "jwt-cpp"]
	path = jwt-cpp
	url = https://github.com/Thalhammer/jwt-cpp.git
